header {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

#navigation-buttons {
	width: 80vw;
	display: flex;
	gap: 1rem;
	text-decoration: none;
	list-style: none;
	padding: 12px 24px;
	align-items: center;
	justify-content: center;
	position: relative;
	border-bottom-width: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
  border-top-width: 1px;
  backdrop-filter: blur(10px);
  background-color: rgba(13, 13, 13, 0.5);
  border-radius: 12px;
  opacity: 1;
}
